<!-- ============================================ -->
<!--                Featured Posts                -->
<!-- ============================================ -->

<div class="bg-slate-500">
    <!--Featured-->
    <div class="flex max-w-md flex-col items-center justify-center">
        <span class="text-2xl">Featured Posts</span>

        {%- for post in collections.featured | reverse -%}
            <a class="" href="{{ post.url }}">
                <picture class="">
                    <img
                        src="{{ post.data.image }}" 
                        alt="{{ post.data.imageAlt }}"
                        width="60"
                        height="60"
                        decoding="async">
                </picture>
                <div class="">
                    <h3 class="">{{ post.data.title }}</h3>
                    <span class="">{{ post.date | postDate }}</span>
                </div>
            </a>
        {%- endfor -%}

    </div>
    <!--Add anything else in the sidebar below-->
</div>