<header class="sticky top-0 flex flex-wrap z-50 sm:justify-start sm:flex-nowrap w-full py-3 shadow-lg dark:shadow-slate-800 bg-gray-50 dark:bg-gray-950">
  <nav class="flex flex-wrap items-center justify-between w-[92%] md:w-[80%] mx-auto">
    <!-- Logo -->
    <a class="flex-none text-xl font-semibold focus:outline-none focus:opacity-80 flex" href="/">
      <img src="/assets/svg/logo-icon.svg" class="h-10 sm:h-8" alt="sethify logo" />
      <span class="max-sm:hidden self-center text-2xl font-semibold whitespace-nowrap dark:text-white">ethify</span>
    </a>

    <!-- Nav Links & Buttons-->
    <div class="flex items-center space-x-5 lg:space-x-20">

      <!-- Navigation Links -->
      <div id="hs-navbar-alignment" class="hidden absolute bg-gray-50 dark:bg-gray-950 min-h-screen left-0 top-[100%] w-full lg:static lg:h-auto lg:min-h-0 lg:bg-inherit lg:dark:bg-inherit lg:grow-0 lg:block" aria-labelledby="hs-navbar-alignment-collapse">
        <ul class="flex flex-col items-center gap-16 mt-5 lg:flex-row lg:mt-0">
          {% set navPages = collections.all | eleventyNavigation %}
          {% for entry in navPages %}
            {% set hasChild = entry.children.length %}
  
            <div class="dropdown">
              {% if hasChild %}
                <!-- Dropdown Button -->
                <button class="dropbtn flex">
                  <span class="pointer-events-none font-semibold">{{ entry.key }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5 self-center ml-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                </button>
  
                <!-- Dropdown Menu -->
                <div class="dropdown-content bg-gray-50 dark:bg-gray-950">
                  {% for child in entry.children %}
                    <div>
                      <a href="{{ child.url }}" class="block py-2 px-3 text-gray-900 rounded font-medium hover:bg-gray-300 md:hover:bg-transparent md:border-0 md:hover:text-primary-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{ child.key }}</a>
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                <!-- Normal Link -->
                <a href="{{ entry.url }}" class="block font-semibold py-2 px-3 roundedmd:hover:bg-transparent md:border-0 md:p-2
                {% if (entry.url in page.url and entry.url != '/') or (page.url == '/' and entry.url == '/')  %}
                  text-primary-900 dark:text-blue-400
                {% else %}
                text-gray-900 dark:text-white
                {% endif %}">
                  {{ entry.key }}
                </a>
              {% endif %}
              </div>
          {% endfor %}
        </ul>
      </div>

      <!-- Dark Mode Toggle -->
      <button id="dark-mode-toggle" class="size-7" aria-label="dark mode toggle" tabindex="3">
        <img class="moon" aria-hidden="true" src="/assets/svg/icon-moon.svg" decoding="async" alt="moon">
        <img class="sun" aria-hidden="true" src="/assets/svg/icon-sun.svg" decoding="async" alt="sun">
      </button>
      
      <!-- Mobile Menu Toggle -->
      <button type="button" class="lg:hidden hs-collapse-toggle relative size-10 flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 dark:border-black bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 shadow-sm hover:bg-gray-50 dark:hover:bg-gray-700 focus:outline-none focus:bg-gray-50 dark:focus:bg-gray-700 disabled:opacity-50 disabled:pointer-events-none" id="hs-navbar-alignment-collapse" aria-expanded="false" aria-controls="hs-navbar-alignment" aria-label="Toggle navigation" data-hs-collapse="#hs-navbar-alignment">
        <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-lg cursor-pointer"><span class=" fa fa-bars"></span></ion-icon>
        <span class="sr-only">Toggle</span>
      </button>

    </div>
    
  </nav>
</header>