<header class="sticky top-0 flex flex-wrap z-50 sm:justify-start sm:flex-nowrap w-full py-3 shadow-lg dark:shadow-slate-800 backdrop-blur">
  <nav class="flex flex-wrap items-center justify-between w-[92%] mx-auto">
    <!-- Logo -->
    <a class="sm:order-1 flex-none text-xl font-semibold focus:outline-none focus:opacity-80 flex" href="/">
      <img src="/assets/svg/logo-icon.svg" class="h-10 sm:h-8" alt="sethify logo" />
      <span class="max-sm:hidden self-center text-2xl font-semibold whitespace-nowrap dark:text-white">ethify</span>
    </a>
    
    <!-- Buttons -->
    <div class="sm:order-3 flex items-center gap-x-5">
      <!-- CTA Button -->
      <a href="contact/" class="bg-gradient-to-r from-indigo-500 to-cyan-500 text-white font-semibold px-5 py-2 rounded-full hover:shadow-lg transition duration-300 max-sm:hidden">
        Contact Us
      </a>
      <!-- Dark Mode -->
      <button id="dark-mode-toggle" class="size-7" aria-label="dark mode toggle" tabindex="3">
        <img class="moon" aria-hidden="true" src="/assets/svg/icon-moon.svg" decoding="async" alt="moon">
        <img class="sun" aria-hidden="true" src="/assets/svg/icon-sun.svg" decoding="async" alt="sun">
      </button>
      <!-- Mobile Menu Toggle -->
      <button type="button" class="sm:hidden hs-collapse-toggle relative size-10 flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 dark:border-black bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 shadow-sm hover:bg-gray-50 dark:hover:bg-gray-700 focus:outline-none focus:bg-gray-50 dark:focus:bg-gray-700 disabled:opacity-50 disabled:pointer-events-none" id="hs-navbar-alignment-collapse" aria-expanded="false" aria-controls="hs-navbar-alignment" aria-label="Toggle navigation" data-hs-collapse="#hs-navbar-alignment">
        <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-2xl cursor-pointer"></ion-icon>
        <span class="sr-only">Toggle</span>
      </button>
    </div>

    <!-- Navigation Links -->
    <div id="hs-navbar-alignment" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow absolute bg-gray-50 dark:bg-gray-950 min-h-screen left-0 top-[100%] w-full sm:static sm:w-auto sm:h-auto sm:min-h-0 sm:bg-inherit sm:dark:bg-inherit sm:grow-0 sm:basis-auto sm:block sm:order-2" aria-labelledby="hs-navbar-alignment-collapse">
      <ul class="flex flex-col gap-5 mt-5 sm:flex-row items-center sm:mt-0">
        {% set navPages = collections.all | eleventyNavigation %}
          {% for entry in navPages %}
            {% set hasChild = entry.children.length %}
            {% set hideClasses = [] %}
            {% if entry.hideOnMobile %}
              {% set hideClasses = (hideClasses.push("hidden md:block"), hideClasses) %}
            {% endif %}
            {% if entry.hideOnDesktop %}
              {% set hideClasses = (hideClasses.push("block md:hidden"), hideClasses) %}
            {% endif %}
  
            <li class="{{ hideClasses | join(' ') }}">
              {% if hasChild %}
                <!-- Dropdown Button -->
                <button class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  aria-expanded="false"
                  aria-controls="dropdown-{{ entry.key }}"
                  aria-label="dropdown-{{ entry.key }}"
                >
                  {{ entry.key }}
                </button>
  
                <!-- Dropdown Menu -->
                <div class="hidden" id="dropdown-{{ entry.key }}">
                  {% for child in entry.children %}
                    <div>
                      <a href="{{ child.url }}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{ child.key }}</a>
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                <!-- Normal Link -->
                <a href="{{ entry.url }}" class="block font-semibold py-2 px-3 roundedmd:hover:bg-transparent md:border-0 md:p-0
                {% if (entry.url in page.url and entry.url != '/') or (page.url == '/' and entry.url == '/')  %}
                 text-blue-700 dark:text-blue-400
                {% else %}
                text-gray-900 dark:text-white
                {% endif %}" {% if entry.url == page.url %} aria-current="page" {% endif %}>
                  {{ entry.key }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
    
  </nav>
</header>