<section>
  <div
    class="container mx-auto lg:max-w-screen-xl"
  >
    <div class="lg:flex space-y-10 lg:space-y-0 lg:space-x-10 items-center">
      <div
        class="lg:w-1/2 lg:flex lg:justify-center lg:translate-y-5 lg:-translate-x-20"
      >
        <img src="assets/svg/ct-remote-team.svg" alt="" class="" />
      </div>

      <!-- Content -->
      <div class="lg:w-1/2">
        <!-- Heading & Text -->
        <div>
          <!-- Heading -->
          <h2 class="text-3xl font-bold lg:text-4xl leading-snug pt-5">
            Better websites for your business
          </h2>

          <!-- Description -->
          <p class="text-lg pt-5 text-gray-700">
            We are dedicated to helping small businesses succeed. We believe in
            continuous improvement and strive to stay ahead of industry trends
            to provide innovative solutions for our clients.
          </p>
        </div>

        <!-- Bonuses Grid -->
        <div class="grid gap-10 lg:grid-cols-2 my-8">
          <div>
            <h3
              class="before:content-checkmark before:relative before:top-[10px] before:mr-3 text-lg font-semibold"
            >
              Proven Expertise
            </h3>
          </div>

          <div>
            <h3
              class="before:content-checkmark before:relative before:top-[10px] before:mr-3 text-lg font-semibold"
            >
              Customized Solutions
            </h3>
          </div>

          <div>
            <h3
              class="before:content-checkmark before:relative before:top-[10px] before:mr-3 text-lg font-semibold"
            >
              Result Focused
            </h3>
          </div>

          <div>
            <h3
              class="before:content-checkmark before:relative before:top-[10px] before:mr-3 text-lg font-semibold"
            >
              Affordable Pricing
            </h3>
          </div>

          <div>
            <h3
              class="before:content-checkmark before:relative before:top-[10px] before:mr-3 text-lg font-semibold"
            >
              End-to-End Support
            </h3>
          </div>

          <div>
            <h3
              class="before:content-checkmark before:relative before:top-[10px] before:mr-3 text-lg font-semibold"
            >
              Built for Growth
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
