<section class="bg-gradient-to-br from-cyan-400 to-purple-500 py-12 px-8">
    <div class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-12 py-6 md:grid-cols-2 md:py-12">
      
    <img src="/assets/images/blank.webp" alt="hero" class="max-h-[32rem]">
  
    <div>
      <h1 class="text-4xl font-bold leading-[1.5] text-white md:text-5xl">👋 Hi, I'm Seth</h1>
      <p class="pt-4 text-lg leading-[1.5] text-white">
        I'm a seasoned Full Stack Software Developer with a solid background in IT and a keen interest in cybersecurity. My passion for technology drives me to create and deliver cutting-edge web solutions, constantly pushing boundaries to explore new possibilities. With expertise in both front-end and back-end development, I excel at transforming ideas into reality through clean code and intuitive design.
      </p>
    </div>

  </div>
</section>