<section class="bg-gradient-to-br from-cyan-400 to-purple-500 py-12 px-8">
    <div class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-12 py-6 md:grid-cols-2 md:py-12">
      
      <img src="/assets/images/computer.png" alt="hero" class="max-h-[32rem]">
  
      <div>
        <h1 class="text-4xl font-bold leading-[1.5] text-white md:text-5xl">Stay Classy</h1>
        <p class="pt-4 text-lg leading-[1.5] text-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, maxime optio. Aliquid a eveniet nostrum maxime, obcaecati doloribus totam unde expedita ullam ratione voluptas autem alias mollitia. At, recusandae ipsum?
        </p>
      </div>
  
    </div>
  </section>