<section class="p-5">
    <h1 class="text-4xl underline font-bold">Stack();</h1>
    <p class="text-xl mb-3">I build most of my projects with <span class="font-semibold">.NET | 11ty | Tailwind</span></p>
  
    <h2 class="text-2xl font-semibold">My stack includes:</h2>
    <h3 class="font-bold mt-2">Languages</h3>
    <p>C# | Javascript | SQL</p>
    <h3 class="font-bold mt-2">Front-End</h3>
    <p>HTML | TailwindCSS | 11ty | Blazor | Razor</p>
    <h3 class="font-bold mt-2">Back-End</h3>
    <p>.NET Core | Web API's </p>
    <h3 class="font-bold mt-2">Databases</h3>
    <p>MSSQL | MySQL  </p>
</section>