<section class="p-5 ">
    <h1 class="text-4xl underline font-bold">Tools();</h1>
    <p><span class="text-xl font-semibold">Git | Github</span> : Version Control</p>
    <p><span class="text-xl font-semibold">Netlify | Azure</span> : PaaS Hosting Providers</p>
    <p><span class="text-xl font-semibold">VsCode</span> : IDE</p>
    <p><span class="text-xl font-semibold">Postman</span> : REST client for testing</p>
    <p><span class="text-xl font-semibold">NSwag</span> : Generates client side code for Entity Framework</p>
    <p><span class="text-xl font-semibold">Windows</span> : Main OS</p>
    <p><span class="text-xl font-semibold">Dev Tools</span> : For frontend testing</p>
</section>