<section class="flex min-h-[50vh] items-end justify-start bg-slate-800">

  <div class="p-8 sm:px-40">
    <h1 class="text-4xl font-semibold text-blue-400 md:text-6xl">Hi, I'm Seth!👋</h1>

    <div class="text-2xl text-white md:text-4xl py-3">
      <span id="animated-text"></span>
      <span id="cursor">_</span>
    </div>
    
    <div class="py-2">
      <a href="#" class="bg-blue-500 p-6 py-1 text-center rounded-lg overflow-hidden text-white">Hire Me</a>
      <a href="#" class="bg-transparent border border-blue-500 p-6 py-1 text-center rounded-lg mx-2 overflow-hidden text-white">View Resume</a>
    </div>
  </div>

</section>