<section class="px-40 pt-16">
    <h2 class="text-center text-4xl font-bold">Many options to choose from</h2>
    <p class="mx-auto mt-4 max-w-3xl text-center">
       Have an awesome app idea but can't code? Or need a new or improved website? Whatever your needs may be,
       I can help! 
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12 ">
       {% import 'components/sections/service-macro.html' as macro %}
 
       {{ macro.service('shadow-lg', 'bg-cyan-300', 'Websites', 'Perspiciatis error est quam expedita aperiam assumenda eveniet, iste voluptatibus suscipit. ') }}
 
       {{ macro.service('shadow-lg', 'bg-pink-300', 'Applications', 'Perspiciatis error est quam expedita aperiam assumenda eveniet, iste voluptatibus suscipit. ') }}
 
       {{ macro.service('shadow-lg', 'bg-purple-300', 'Games', 'Perspiciatis error est quam expedita aperiam assumenda eveniet, iste voluptatibus suscipit. ') }}
    </div>
 </section>