<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standard meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{ client.domain }}{{ page.url }}">

    <!--Social Media Display-->
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
    <meta property="og:image" content="/assets/images/logo-small.png"/>
    <meta property="og:image:secure_url" content="/assets/images/logo-small.png"/>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v1">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
    {% if preloadImg != '' %}
        <link rel="preload" as="image" href="{{ preloadImg }}"/>
    {% endif %}
    
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Dark Mode -->
    <script defer src="/assets/js/darkMode.js"></script>
    <script defer src="/assets/js/nav.js"></script>
    <script defer src="/assets/js/popUp.js"></script>
    <script defer src="/assets/js/typewriter.js"></script>

    <!-- GSAP - Animation Library to move each character-->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <!-- GSAP text plugin -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
    <!-- split-type - Splits sentence up -->
    <script src="https://unpkg.com/split-type"></script>

    {% block head %}{% endblock %}

    <title>{{ title }}</title>
  </head>
  
  <body class="min-h-screen overflow-x-hidden flex flex-col transition-colors duration-200 text-black dark:text-white bg-white dark:bg-gray-950 font-sans">
    
    {% include 'components/header.html' %}
    
    <main>
      {{ content | safe }}
    </main>
    
    {% include 'components/footer.html' %}

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>