:root {
    --purp: #7851b9;
    --light-blue: #1eaee7;
    --blue: #3535BC;
    --blue-purple: #6c63ff;
    --dark-blue: #000080;
    --indigo: #312e81;
}

        /* DROPDOWN */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 0px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}


/* CURVE */
.cta-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.cta-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
}

.cta-curve .shape-fill {
    fill: #FFFFFF;
}