@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override Tailwind's base styles */
@layer base {


  h1 {
    font-size: revert !important;
    font-weight: 900 !important;

  }
  h2 {
    font-size: revert !important;
    font-weight: 800 !important;
  }
  h3 {
    font-size: revert !important;
    font-weight: 700 !important;
  }
  h4,
  h5,
  h6 {
    font-size: revert !important;
  }
  p {
    @apply text-gray-700 dark:text-gray-300;
  }
}