--- 
layout: 'layouts/_base.html'
---

{% include 'sections/hero.html' %}
{% include 'sections/services.html' %}
{% include 'sections/stack.html' %}
{% include 'sections/projects.html' %}
{% include 'sections/tools.html' %}
{% include 'sections/contact.html' %}
