--- 
layout: 'layouts/base.html'
permalink: /
---

{% block head %}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{% endblock %}

{% include 'components/sections/hero.html' %}
{% include 'components/sections/projects.html' %}
{% include 'components/sections/contact.html' %}