<section>
    <div class="section-container text-center space-y-4">
        <h1 class="">Small Business Web Design & Development</h1>
        <p class="mx-auto">
          Be more descriptive of the services and solutions we offer related to the h1. 
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, voluptas modi. 
          Rerum a officiis perferendis provident. Nisi quisquam dolores impedit, eius 
          perferendis non reiciendis alias laborum vel doloribus itaque provident.
        </p>
        <div class="flex flex-col justify-center space-y-4 md:flex-row md:space-x-4 md:space-y-0">
          <a href="/contact" class="button">Contact Us</a>
          <a href="/services" class="button">Services</a>
        </div>
    </div>
  </section>