<section class="relative bg-indigo-950">
  <!-- Container -->
  <div class="container mx-auto lg:max-w-screen-xl">
    <div class="space-y-10 items-center lg:space-y-0 lg:space-x-10 lg:flex">
      <!-- Left side -->
      <div class="z-10 text-center lg:w-1/2 lg:text-left">
        <h1
          class="capitalize text-4xl tracking-tight font-bold text-balance sm:text-6xl text-white"
        >
          Your web design and development partner
        </h1>
        <p class="my-6 text-lg sm:mb-12 text-gray-200">
          We offer full-service solutions for small businesses and upcoming
          startups. Don't hinder your business with a bad website - reach out
          and see how we can help.
        </p>

        <div
          class="flex flex-row gap-5 items-center justify-center lg:justify-start"
        >
          <a
            href="/"
            class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-indigo-400 hover:bg-indigo-700 focus:shadow-outline focus:outline-none"
          >
            Get started
          </a>
          <a
            href="/"
            aria-label=""
            class="inline-flex items-center font-semibold transition-colors duration-200 text-gray-200 hover:text-gray-400"
            >Learn more</a
          >
        </div>
      </div>

      <!-- Right Side -->
      <div class="z-10 lg:w-1/2 lg:flex lg:justify-center">
        <img src="assets/images/mockup.png" alt="Computer" class="" />
      </div>
      
    </div>
  </div>

  <!-- Curve at bottom of section -->
  <svg
    class="z-0 absolute inset-x-0 -bottom-1 text-white"
    viewBox="0 0 1160 163"
  >
    <path
      fill="currentColor"
      d="M-164 13L-104 39.7C-44 66 76 120 196 141C316 162 436 152 556 119.7C676 88 796 34 916 13C1036 -8 1156 2 1216 7.7L1276 13V162.5H1216C1156 162.5 1036 162.5 916 162.5C796 162.5 676 162.5 556 162.5C436 162.5 316 162.5 196 162.5C76 162.5 -44 162.5 -104 162.5H-164V13Z"
    ></path>
  </svg>
</section>
