<header class="w-full justify-between items-center sticky flex align-baseline bg-white text-neutral-900 top-0 py-4 px-6">
    
    <a href="#">
      <img src="/assets/svg/Full-Logo-Color-Fill.svg" alt="logo" class="h-12">
    </a>

    <nav>

      <ul class="flex gap-10">
        <li>
          <a href="/blog">Blog</a>
        </li>

        <li>
          <a href="#">Github</a>
        </li>

        <li>
          <img class="moon" src="/assets/svg/icon-moon.svg" alt="dark-mode-icon">
          <img class="sun" src="/assets/svg/icon-sun.svg" alt="dark-mode-icon">
        </li>
      </ul>

    </nav>

</header>